In [2]:
import math
import numpy as np
import h5py
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow.python.framework import ops
import pandas as pd
import io

In [12]:
d_tr = pd.read_csv("train.csv")
d_tr = d_tr.drop(["Name","Ticket","PassengerId","Cabin"],axis=1)
d_tr

     Survived  Pclass     Sex   Age  SibSp  Parch      Fare Embarked
0           0       3    male  22.0      1      0    7.2500        S
1           1       1  female  38.0      1      0   71.2833        C
2           1       3  female  26.0      0      0    7.9250        S
3           1       1  female  35.0      1      0   53.1000        S
4           0       3    male  35.0      0      0    8.0500        S
5           0       3    male   NaN      0      0    8.4583        Q
6           0       1    male  54.0      0      0   51.8625        S
7           0       3    male   2.0      3      1   21.0750        S
8           1       3  female  27.0      0      2   11.1333        S
9           1       2  female  14.0      1      0   30.0708        C
10          1       3  female   4.0      1      1   16.7000        S
11          1       1  female  58.0      0      0   26.5500        S
12          0       3    male  20.0      0      0    8.0500        S
13          0       3    male  39.0      1      5   31.2750        S
14          0       3  female  14.0      0      0    7.8542        S
15          1       2  female  55.0      0      0   16.0000        S
16          0       3    male   2.0      4      1   29.1250        Q
17          1       2    male   NaN      0      0   13.0000        S
18          0       3  female  31.0      1      0   18.0000        S
19          1       3  female   NaN      0      0    7.2250        C
20          0       2    male  35.0      0      0   26.0000        S
21          1       2    male  34.0      0      0   13.0000        S
22          1       3  female  15.0      0      0    8.0292        Q
23          1       1    male  28.0      0      0   35.5000        S
24          0       3  female   8.0      3      1   21.0750        S
25          1       3  female  38.0      1      5   31.3875        S
26          0       3    male   NaN      0      0    7.2250        C
27          0       1    male  19.0      3      2  263.0000        S
28          1       3  female   NaN      0      0    7.8792        Q
29          0       3    male   NaN      0      0    7.8958        S
..        ...     ...     ...   ...    ...    ...       ...      ...
861         0       2    male  21.0      1      0   11.5000        S
862         1       1  female  48.0      0      0   25.9292        S
863         0       3  female   NaN      8      2   69.5500        S
864         0       2    male  24.0      0      0   13.0000        S
865         1       2  female  42.0      0      0   13.0000        S
866         1       2  female  27.0      1      0   13.8583        C
867         0       1    male  31.0      0      0   50.4958        S
868         0       3    male   NaN      0      0    9.5000        S
869         1       3    male   4.0      1      1   11.1333        S
870         0       3    male  26.0      0      0    7.8958        S
871         1       1  female  47.0      1      1   52.5542        S
872         0       1    male  33.0      0      0    5.0000        S
873         0       3    male  47.0      0      0    9.0000        S
874         1       2  female  28.0      1      0   24.0000        C
875         1       3  female  15.0      0      0    7.2250        C
876         0       3    male  20.0      0      0    9.8458        S
877         0       3    male  19.0      0      0    7.8958        S
878         0       3    male   NaN      0      0    7.8958        S
879         1       1  female  56.0      0      1   83.1583        C
880         1       2  female  25.0      0      1   26.0000        S
881         0       3    male  33.0      0      0    7.8958        S
882         0       3  female  22.0      0      0   10.5167        S
883         0       2    male  28.0      0      0   10.5000        S
884         0       3    male  25.0      0      0    7.0500        S
885         0       3  female  39.0      0      5   29.1250        Q
886         0       2    male  27.0      0      0   13.0000        S
887         1       1  female  19.0      0      0   30.0000        S
888         0       3  female   NaN      1      2   23.4500        S
889         1       1    male  26.0      0      0   30.0000        C
890         0       3    male  32.0      0      0    7.7500        Q

[891 rows x 8 columns]

In [8]:
def feature_normalize(dataset):
    mean_data = np.mean(dataset,axis=0)
    sigma = np.std(dataset,axis=0)
    return (dataset - mean_data)/sigma

def str_to_int(df):
    str_columns = df.select_dtypes(['object']).columns
    print(str_columns)
    for col in str_columns:
        df[col] = df[col].astype('category')

    cat_columns = df.select_dtypes(['category']).columns
    df[cat_columns] = df[cat_columns].apply(lambda x: x.cat.codes)
    return df

def count_space_except_nan(x):
    if isinstance(x,str):
        return x.count(" ") + 1
    else :
        return 0

def one_hot(data, cols):
    for i in cols:
        temp = pd.get_dummies(data[i], prefix=each, drop_first=False)
        del data[i]
        data = data.concat([data, temp], axis=1)
    return data
def Na_man(data,cols):
    for i in cols:
        data[i].fillna(data[i].mean(), inplace=True)
    return data

In [13]:
d_tr = pd.read_csv("train.csv")
d_tr = d_tr.drop(["Name","Ticket","PassengerId","Cabin"],axis=1)
col = ['Age','Fare']
d_tr = Na_man(d_tr,col)

['Survived' 'Pclass' 'Sex' 'Age' 'SibSp' 'Parch' 'Fare' 'Embarked']

In [14]:
d_tr

     Survived  Pclass     Sex        Age  SibSp  Parch      Fare Embarked
0           0       3    male  22.000000      1      0    7.2500        S
1           1       1  female  38.000000      1      0   71.2833        C
2           1       3  female  26.000000      0      0    7.9250        S
3           1       1  female  35.000000      1      0   53.1000        S
4           0       3    male  35.000000      0      0    8.0500        S
5           0       3    male  29.699118      0      0    8.4583        Q
6           0       1    male  54.000000      0      0   51.8625        S
7           0       3    male   2.000000      3      1   21.0750        S
8           1       3  female  27.000000      0      2   11.1333        S
9           1       2  female  14.000000      1      0   30.0708        C
10          1       3  female   4.000000      1      1   16.7000        S
11          1       1  female  58.000000      0      0   26.5500        S
12          0       3    male  20.000000      0      0    8.0500        S
13          0       3    male  39.000000      1      5   31.2750        S
14          0       3  female  14.000000      0      0    7.8542        S
15          1       2  female  55.000000      0      0   16.0000        S
16          0       3    male   2.000000      4      1   29.1250        Q
17          1       2    male  29.699118      0      0   13.0000        S
18          0       3  female  31.000000      1      0   18.0000        S
19          1       3  female  29.699118      0      0    7.2250        C
20          0       2    male  35.000000      0      0   26.0000        S
21          1       2    male  34.000000      0      0   13.0000        S
22          1       3  female  15.000000      0      0    8.0292        Q
23          1       1    male  28.000000      0      0   35.5000        S
24          0       3  female   8.000000      3      1   21.0750        S
25          1       3  female  38.000000      1      5   31.3875        S
26          0       3    male  29.699118      0      0    7.2250        C
27          0       1    male  19.000000      3      2  263.0000        S
28          1       3  female  29.699118      0      0    7.8792        Q
29          0       3    male  29.699118      0      0    7.8958        S
..        ...     ...     ...        ...    ...    ...       ...      ...
861         0       2    male  21.000000      1      0   11.5000        S
862         1       1  female  48.000000      0      0   25.9292        S
863         0       3  female  29.699118      8      2   69.5500        S
864         0       2    male  24.000000      0      0   13.0000        S
865         1       2  female  42.000000      0      0   13.0000        S
866         1       2  female  27.000000      1      0   13.8583        C
867         0       1    male  31.000000      0      0   50.4958        S
868         0       3    male  29.699118      0      0    9.5000        S
869         1       3    male   4.000000      1      1   11.1333        S
870         0       3    male  26.000000      0      0    7.8958        S
871         1       1  female  47.000000      1      1   52.5542        S
872         0       1    male  33.000000      0      0    5.0000        S
873         0       3    male  47.000000      0      0    9.0000        S
874         1       2  female  28.000000      1      0   24.0000        C
875         1       3  female  15.000000      0      0    7.2250        C
876         0       3    male  20.000000      0      0    9.8458        S
877         0       3    male  19.000000      0      0    7.8958        S
878         0       3    male  29.699118      0      0    7.8958        S
879         1       1  female  56.000000      0      1   83.1583        C
880         1       2  female  25.000000      0      1   26.0000        S
881         0       3    male  33.000000      0      0    7.8958        S
882         0       3  female  22.000000      0      0   10.5167        S
883         0       2    male  28.000000      0      0   10.5000        S
884         0       3    male  25.000000      0      0    7.0500        S
885         0       3  female  39.000000      0      5   29.1250        Q
886         0       2    male  27.000000      0      0   13.0000        S
887         1       1  female  19.000000      0      0   30.0000        S
888         0       3  female  29.699118      1      2   23.4500        S
889         1       1    male  26.000000      0      0   30.0000        C
890         0       3    male  32.000000      0      0    7.7500        Q

[891 rows x 8 columns]